page-politica-privacidade {

	ion-content{
		top: 10vh !important;
		.scroll-content {
		    padding: 5vh 30px 15vh 30px !important;
			h3{
				color: #52525f;
				font-size: 5vw;
			}
			p{
				color: #999999;
				line-height: 5vw;
				font-size: 4vw;
			}
		}
	}

}
