page-resultado-busca {

	ion-content{
		background-color: #f2f2f2 !important;
		top: 3vh !important;
		.scroll-content {
		    padding-top: 8.5vh !important;
		}
		h1{
			background: #fff url(../assets/imgs/icon-resultadobusca.png) no-repeat left center;
			background-size: 22% !important;
			margin-bottom: 30px !important;
			padding: 15px 20px 15px 80px !important;
		}
		ion-list{
			ion-item.boxshadow{
				padding: 5px 20px 10px 20px !important;
				.item-inner{
					border-bottom: none !important;
				}
				ion-icon{
					color: #fccb06 !important;
					margin-top: 15px;
					float: left;
					font-size: 4vw;
					span{
						font: 700 14px Montserrat !important;
						margin-left: 10px;
						display: auto !important;
					}
				}
				.arrowgo{
					font-size: 10vw;
					float: right;
					color: #fccb06;
					margin-top: 4vh;
				}
				ion-avatar{
					float: left;
					width: 28% !important;
					height: auto !important;
					img{
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}

}
