<menu></menu>

<ion-content padding class="bgsmall">

    <h1 class="titlebox" *ngIf="suppliersFinalList && suppliersFinalList.length == 0; else usersList">Não encontramos profissionais com essas qualificações.</h1>

  <ng-template #usersList>
    <h1 class="titlebox">Boa notícia! Encontramos {{ suppliersFinalList.length }} profissionais para você</h1>
    <span>
      <ion-list>
        <ion-item class="boxshadow" *ngFor="let sup of suppliersFinalList" (click)=getSupplierDetails(sup)>
          <ion-avatar item-start>
            <img src="assets/imgs/profile.png">
          </ion-avatar>
          <ion-icon name="ios-arrow-forward" class="arrowgo" ></ion-icon>
          <h2>{{ sup.uname }}</h2>
          <h3>{{ sup.supplierField }}</h3>
          <ion-icon name="person" class="tipocolaborador"><span>{{ sup.companyType }}</span></ion-icon>
        </ion-item>
      </ion-list>
    </span>
  </ng-template>

</ion-content>
