page-cadastro {

	ion-content{
		h1{
			background: #fff url(../assets/imgs/icon-cadastro.png) no-repeat left center;
			background-size: 30%;
		}
	}

	.text-danger{
		padding-left: 16px;
		p{
		    color: #F44336;
			margin: 10px 0px 0px 0px;
		}
	}

}
