<ion-header>

  <ion-navbar>
    <ion-title>Faça seu cadastro</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bgsmall">

  <h1 class="titlebox">Cadastre-se para ter acesso ao melhor banco de prestadores de serviços do Brasil!</h1>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-list>

      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" placeholder="Digite seu nome *" formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
        <p *ngIf="name.errors.required">Campo obrigatório</p>
        <p *ngIf="name.errors.minlength">O nome deve ter no mínimo 3 caracteres</p>
      </div>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" placeholder="Digite seu email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
        <p *ngIf="email.errors.required">Campo obrigatório</p>
        <p *ngIf="email.errors.email">Formato incorreto</p>
      </div>

      <ion-item>
        <ion-label stacked>Telefone</ion-label>
        <ion-input type="text" placeholder="Digite seu telefone" formControlName="phone"></ion-input>
      </ion-item>
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
        <p *ngIf="phone.errors.required">Campo obrigatório</p>
        <p *ngIf="phone.errors.maxLength">O número deve ter no máximo 11 caracteres</p>
        <p *ngIf="phone.errors.pattern">O telefone deve estar no formato DDD+Numero: 2190000000</p>
      </div>

      <ion-item>
        <ion-label stacked>Estado</ion-label>
        <ion-select formControlName="city" interface="popover">
          <ion-option value="Acre">Acre</ion-option>
          <ion-option value="Alagoas">Alagoas</ion-option>
          <ion-option value="Amapá">Amapá</ion-option>
          <ion-option value="Amazonas">Amazonas</ion-option>
          <ion-option value="Bahia">Bahia</ion-option>
          <ion-option value="Ceará">Ceará</ion-option>
          <ion-option value="Distrito Federal">Distrito Federal</ion-option>
          <ion-option value="Espírito Santo">Espírito Santo</ion-option>
          <ion-option value="Goiás">Goiás</ion-option>
          <ion-option value="Maranhão">Maranhão</ion-option>
          <ion-option value="Mato Grosso">Mato Grosso</ion-option>
          <ion-option value="Mato Grosso do Sul">Mato Grosso do Sul</ion-option>
          <ion-option value="Minas Gerais">Minas Gerais</ion-option>
          <ion-option value="Pará">Pará</ion-option>
          <ion-option value="Paraíba">Paraíba</ion-option>
          <ion-option value="Paraná">Paraná</ion-option>
          <ion-option value="Pernambuco">Pernambuco</ion-option>
          <ion-option value="Piauí">Piauí</ion-option>
          <ion-option value="Rio de Janeiro">Rio de Janeiro</ion-option>
          <ion-option value="Rio Grande do Norte">Rio Grande do Norte</ion-option>
          <ion-option value="Rio Grande do Sul">Rio Grande do Sul</ion-option>
          <ion-option value="Rondônia">Rondônia</ion-option>
          <ion-option value="Roraima">Roraima</ion-option>
          <ion-option value="Santa Catarina">Santa Catarina</ion-option>
          <ion-option value="São Paulo">São Paulo</ion-option>
          <ion-option value="Sergipe">Sergipe</ion-option>
          <ion-option value="Tocantins">Tocantins</ion-option>
        </ion-select>
        <!-- <ion-input type="text" placeholder="Digite sua cidade" formControlName="city"></ion-input> -->
      </ion-item>
      <div *ngIf="city.invalid && (city.dirty || city.touched)" class="text-danger">
        <p *ngIf="city.errors.required">Campo obrigatório</p>
      </div>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" placeholder="Digite sua senha" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
        <p *ngIf="password.errors.required">Campo obrigatório</p>
        <p *ngIf="password.errors.pattern">A senha deve ter no mínimo 6 caracteres e pelo menos 1 letra maiúscula, 1
          minúscula e 1 número.</p>
      </div>

      <ion-item>
        <ion-label stacked>Confirmar Senha</ion-label>
        <ion-input type="password" placeholder="Confirme sua senha" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="text-danger">
        <p *ngIf="confirmPassword.errors.required">Campo obrigatório</p>
        <p *ngIf="confirmPassword.errors?.MatchPassword && !confirmPassword.errors.required">As senhas não coincidem</p>
      </div>

    </ion-list>
    <button ion-button type="submit" [disabled]="signupForm.invalid" class="btnamareloum">Finalizar cadastro</button>
    <!-- <button ion-button type="submit" [disabled]="signupForm.invalid" class="btnamareloum">Finalizar cadastro</button> -->
    <!-- TODO BUG removendo o bloqueio do botão. Precisa criar um bloqueio diferente no botão -->
  </form>


</ion-content>
