<ion-header>

  <ion-navbar>
    <ion-title><div id="title"></div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<img src="assets/imgs/topo-prefornecedor.jpg" alt="ColaboraSol">

	<p id="text"></p>

</ion-content>
