page-login {

	@keyframes animatedBackground {
		from { background-position: 0 0; }
		to { background-position: 100% 0; }
	}

	ion-content{
		background: url(../assets/imgs/bg-login.png);
		/*background-size: cover;*/
		position: relative;
		background-position: 0px 0px;
		background-repeat: repeat-x;
		animation: animatedBackground 40s linear infinite;
	    background-size: 300%;
		h1{
			text-align: center;
			margin: 15vw auto 10vw auto;
			text-indent: -9999px;
			display: block;
			background: url(../assets/imgs/logo-colaborasol-completo.svg) no-repeat center center;
			width: 50%;
			height: 120px;
		}
		p{
			text-align: center;
			margin: 20px 0px;
			color: #52525f;
		}
		.btntexto{
			margin: 10px auto !important;
			display: block !important;
			background: none !important;
			color: #52525f !important;
			text-transform: none !important;
			box-shadow: none !important;
		}
		.btnamareloum{
			margin: 10px auto 30px auto !important;
		    width: 50%;
		}
		.bottommsg{
			display: block;
			background: url(../assets/imgs/bg-bottom-login.png) no-repeat center top;
			padding: 7vh 0px 20px 0px;
		    width: 100%;
		    background-size: cover;
		    margin: 0;
		    color: #fff;
		    position: fixed;
		    bottom: 0;
		}
		@media (max-height: 130vw){
			.bottommsg{
				display: none !important;
			}
		}
		ion-list{
			width: 70%;
			margin: 0px auto !important;
			ion-item{
				border-top: none !important;
			}
			.item-block .item-inner{
				border-bottom: 1px solid #282828 !important;
				margin: 0px 0px 15px 0px;
				padding-left: 10px;
				font-size: 3.5vw;
			}
			.item-input:last-child{
				border-bottom: none !important;
			}
			.item-input.input-has-focus:last-child {
			    border-bottom-color: #fccb06 !important;
			    -webkit-box-shadow: inset 0 -1px 0 0 #488aff;
			    box-shadow: none !important;
			}
		}
	}

}
