<ion-content>

  <h1>ColaboraSol</h1>
  <form (submit)="doSignin()">

    <ion-list>

      <ion-item>
        <!-- <ion-label stacked>Email</ion-label> -->
        <ion-input type="email" [(ngModel)]="username" name="username" placeholder="Digite seu email"></ion-input>
      </ion-item>

      <ion-item>
        <!-- <ion-label stacked>Senha</ion-label> -->
        <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Digite sua senha"></ion-input>
      </ion-item>

      <button ion-button color="accent" class="btnamareloum" block>Entrar</button>

    </ion-list>
  </form>

  <button ion-button [navPush]="pushPageSenha" class="btntexto">Esqueceu sua senha?</button>

  <button ion-button [navPush]="pushPageCadastro" class="btntexto">Ainda não possui um cadastro?</button>

  <p class="bottommsg" [navPush]="pushPagePrefornecedor">Quer ser um fornecedor? Clique aqui</p>

  <!-- Teste para saber se há como burlar o login e pular para o app // ionic auth guards-->
  <!-- <button ion-button color="accent" class="btnamarelodois" (click)="skipSignin()">TESTE HOME</button> -->

</ion-content>
