<ion-content>

	<ion-slides pager>

	  <ion-slide class="slideum">

	  	<img src="assets/imgs/icon-slide-1.png" alt="Bem-Vindo">

	  	<div class="texto">

	  		<h1>Bem-vindo</h1>

	    	<p>Esse é o ColaboraSol, o lugar ideal para você se conectar a profissionais e empresas da área de energia fotovoltaica e instalação de painéis solares.</p>

	    </div>

	  </ion-slide>

	  <ion-slide class="slidedois">

	  	<img src="assets/imgs/icon-slide-2.png" alt="Colaboração">

	  	<div class="texto">

	  		<h1>Colaboração</h1>

	    	<p>Tem experiência com instalação de painéis? Junte-se ao nosso time de colaboradores. Aqui, você pode conectar-se com mais clientes e oferecer serviços sob demanda.</p>

	    </div>

	  </ion-slide>

	  <ion-slide class="slidetres">

	  	<img src="assets/imgs/icon-slide-3.png" alt="Conexões">

	  	<div class="texto">

	  		<h1>Conexões</h1>

	    	<p>A luz e o calor do Sol nos unem. Queremos conectar pessoas e facilitar o acesso à energia solar. Seja coautor dessa história.</p>

	    	<button ion-button [navPush]="pushPage" class="btnbranco">Vamos lá?</button>

	    </div>

	  </ion-slide>

	</ion-slides>

</ion-content>
