page-landing {

	.swiper-container-horizontal > .swiper-pagination-bullets{
		bottom: 30px !important;
		.swiper-pagination-bullet-active{
			background: #fff !important;
		}
	}

	ion-content{
		overflow: hidden;
		position: fixed;
		top: 0;
	}

	ion-slide{
	    align-items: start !important;
		img{
			width: 70% !important;
			margin-top: 30px;
		}
		.texto{
			position: absolute;
			bottom: 10vh;
			h1{
				font-size: 6vw;
				font-weight: bold;
				color: #fff;
			}
			p{
				width: 90%;
				display: block;
				margin: 10px auto;
				color: #fff;
				font-weight: 100;
				font-size: 4.5vw;
			}
		}
	}

	.slideum{
		background: url(../assets/imgs/bg-slide-1.png) no-repeat center top;
		background-size: cover;
	}

	.slidedois{
		background: url(../assets/imgs/bg-slide-2.png) no-repeat center top;
		background-size: cover;
		h1{
		    margin-top:10rem;
		}
	}

	.slidetres{
		background: url(../assets/imgs/bg-slide-3.png) no-repeat center top;
		background-size: cover;
	}

	.slidetres.swiper-slide-active > .swiper-container-horizontal > .swiper-pagination-bullets{
		display: none !important;
	}

}
