<menu></menu>

<ion-content padding class="bgsmall">

	<h1 class="titlebox">Ainda ficou com alguma dúvida? Envie sua mensagem que responderemos rapidinho!</h1>

		<ion-list>

			<ion-item>
				<ion-label stacked>Nome</ion-label>
				<ion-input type="text" placeholder="Digite seu nome"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Email</ion-label>
				<ion-input type="email" placeholder="Digite seu email"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Telefone</ion-label>
				<ion-input type="email" placeholder="Digite seu telefone"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked>Mensagem</ion-label>
				<ion-input type="text" name="mensagem" placeholder="Digite sua mensagem"></ion-input>
			</ion-item>

		</ion-list>

		<button ion-button (click)="pop()" class="btnamareloum">Enviar mensagem</button>

</ion-content>
