page-fale-conosco {

	ion-content{
		top: 3vh !important;
		.scroll-content {
		    padding-top: 10vh !important;
		}
		h1{
			background: #fff url(../assets/imgs/icon-faleconosco.png) no-repeat left center;
			background-size: 30% !important;
		}
		ion-list{
			margin-bottom: 50px !important;
			display: block;
		}
	}

}
