<ion-header>

  <ion-navbar>
    <ion-title>Esqueceu sua senha?</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bgsmall">

	<h1 class="titlebox">Não tem problema! Siga as instruções abaixo.<br/></h1>

	<!-- <h1 class="titlebox">Não tem problema! Preencha o campo abaixo e uma nova senha será enviada para você!</h1> -->

		<!-- <ion-list>

			<ion-item>
				<ion-label stacked>Email</ion-label>
				<ion-input type="email" placeholder="Digite seu email"></ion-input>
			</ion-item>

		</ion-list>

		<button ion-button [navPush]="pushPageHome" class="btnamareloum">enviar nova senha</button> -->

	<p>Envie um e-mail para <strong>contato@colaborasol.eco.br</strong> com seu e-mail de login, e uma nova senha será enviada para você.</p>

</ion-content>
