<menu></menu>

<ion-content padding>

  <h1 class="titlebox">Encontre os melhores profissionais perto de você!</h1>

  <!-- <p>
    <span>Parâmetros da busca:</span>
  </p> -->

  <form>
    <ion-list>

      <ion-item class="boxshadow cidade">

        <ion-label stacked>Escolha o seu Estado:</ion-label>

        <ion-select [(ngModel)]="selectedCity" name="selectedCity" interface="popover">
          <!-- criar um pipe no .ts para adicionar o | orderBy: item.name no ngfor-->
          <div *ngFor="let item of searchParams">
            <ion-option *ngIf="item.className == 'Location' && item.length != 0" [value]="item">{{ item.name }}</ion-option>
          </div>
        </ion-select>

      </ion-item>


      <ion-item class="boxshadow servico">

        <ion-label stacked>E o tipo de serviço que você precisa:</ion-label>

        <ion-select [(ngModel)]="selectedJobType" name="selectedJobType" interface="popover">
          <span *ngFor="let item of searchParams">
            <ion-option *ngIf="item.className == 'JobType' && item.length != 0" [value]="item">{{ item.name }}</ion-option>
          </span>
        </ion-select>

      </ion-item>

    </ion-list>

    <ion-list class="boxshadow profissional">

      <h2>Quais qualificações são essenciais para o seu profissional?</h2>
      <div *ngFor="let item of searchParams">
        <ion-item class="check" *ngIf="item.className == 'Qualifications' && item.length != 0">
          <ion-label>{{ item?.name || 'N/A'}}</ion-label>
          <ion-checkbox color="yellow" (click)="selectItemQualification(item)" [(ngModel)]="item.checked" name="qualifications"></ion-checkbox>
        </ion-item>
      </div>

    </ion-list>

    <ion-list>

      <!-- <ion-item class="boxshadow experiencia">

        <ion-label stacked>Nível de experiência
          <span>(Em anos)</span>
        </ion-label>

        <ion-range min="1" max="5" snaps="true">
          <ion-icon range-left>1</ion-icon>
          <ion-icon range-right class="rangeright">+ 5</ion-icon>
        </ion-range>

      </ion-item> -->

      <button ion-button color="accent" class="btnamarelodois" block (click)="search()">Buscar</button>

    </ion-list>

  </form>

</ion-content>
