page-home {

	ion-content{
		background-color: #f2f2f2 !important;
		top: 3vh !important;

		.scroll-content {
	        padding-top: 8.5vh !important;
	    }

		h1{
			background: #fff url(../assets/imgs/icon-homebusca.png) no-repeat left center;
			background-size: 25% !important;
			margin: 10px auto 30px auto !important
		}
		
		form{
			ion-list{
				ion-item{
					.item-inner{
					    border-bottom: 1px solid #dedede !important;
					}
					img{
						float: right;
					}
					ion-select{
						margin-top: 20px;
						font-size: 3.5vw;
					}
					ion-range{
						ion-icon{
						    margin: 0 12px -20px 0 !important;
						    font: 700 13.3333px Arial !important;
						    color: #52525f !important;
						}
						.rangeright{
						    margin-right: -10px !important;
						    margin-left: 10px !important;
						}
						.range-tick{
							top: 25px !important;
							background: #282828 !important;
						}
					}
					.range-bar{
						height: 10px !important;
						border-radius: 5px;
					}
					.range-bar-active{
						background: #ffde00 !important;
						background: -moz-linear-gradient(
						left,
						#ffde00 0%,
						#ffba00 100%
						) !important; 
						background: -webkit-linear-gradient(
						left,
						#ffde00 0%,
						#ffba00 100%
						) !important; 
						background: linear-gradient(
						to right,
						#ffde00 0%,
						#ffba00 100%
						) !important; 
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde00', endColorstr='#ffba00',GradientType=0 ) !important;
					}
					.range-knob-handle{
						top: 25px !important;
						.range-knob{
							top: 7px !important;
							width: 30px !important;
						    height: 30px !important;
						    background: #ffde00 !important;
						background: -moz-linear-gradient(
						top,
						#ffde00 0%,
						#ffba00 100%
						) !important; 
						background: -webkit-linear-gradient(
						top,
						#ffde00 0%,
						#ffba00 100%
						) !important; 
						background: linear-gradient(
						to bottom,
						#ffde00 0%,
						#ffba00 100%
						) !important; 
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde00', endColorstr='#ffba00',GradientType=0 ) !important;
						}
					}
					.range-knob-min.range-knob-min .range-knob{
						background: #fff !important;
					}
					.checkbox-md .checkbox-checked .checkbox-inner{
						border-color: #fff !important;
					}
				}
				ion-item.check{
					padding: 0px !important;
					box-shadow: none !important;
					margin-bottom: 0px !important;
				}
				ion-item.cidade{
					background: #fff url(../assets/imgs/icon-busca-cidade.png) no-repeat 94% 10%;
				    background-size: 15%;
				}
				ion-item.servico{
					background: #fff url(../assets/imgs/icon-busca-servico.png) no-repeat 94% 10%;
				    background-size: 15%;
				}
				ion-item.experiencia{
					background: #fff url(../assets/imgs/icon-busca-experiencia.png) no-repeat 94% 10%;
				    background-size: 15%;
				}
			}
			ion-list.profissional{
				background: #fff url(../assets/imgs/icon-busca-profissional.png) no-repeat 94% 2%;
			    background-size: 15%;
			    display: block;
				border-radius: 5px;
			    padding: 25px 20px 20px 20px !important;
				font-size: 5vw;
			    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
				box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3) !important;
				margin-bottom: 20px !important;
				margin-top: -30px;
			    h2{
					color: #52525f !important;
					font-size: 5vw !important;
					font-weight: bold;
					margin-bottom: 15px !important;
					white-space: normal;
				    width: 85%;
				}
				.item-inner{
					border-bottom: none !important;
					ion-label{
						font-size: 3.5vw !important;
					}
				}
			}
		}
	}

}
