<menu></menu>

<ion-content padding class="bgsmall">

	<ion-list>

		<ion-item class="boxshadow">

			<img src="assets/imgs/profile.png">

			<ion-icon name="ios-call" class="call"></ion-icon>

			<h2>João da Silva</h2>

			<h3>Engenheiro Elétrico</h3>

			<ion-icon name="person" class="tipocolaborador"><span>MEI</span></ion-icon>

			<div class="divider"></div>

			<p>Olá, gostaria de solicitar um orçamento do serviços XXXXXXX. Poderia retornar o meu contato?</p>

			<p><span>12 de Abril de 2018</span></p>

			<button ion-button class="btnamarelodois" (click)="enviarFeedback()" >Enviar Feedback</button>

		</ion-item>

		<ion-item class="boxshadow">

			<img src="assets/imgs/profile.png">

			<ion-icon name="ios-call" class="call"></ion-icon>

			<h2>João da Silva</h2>

			<h3>Engenheiro Elétrico</h3>

			<ion-icon name="person" class="tipocolaborador"><span>MEI</span></ion-icon>

			<div class="divider"></div>

			<p>Olá, gostaria de solicitar um orçamento do serviços XXXXXXX. Poderia retornar o meu contato?</p>

			<p><span>12 de Abril de 2018</span></p>

			<button ion-button class="btnamarelodois" (click)="enviarFeedback()" >Enviar Feedback</button>

		</ion-item>


	</ion-list>

</ion-content>
