page-orcamentos-solicitados {

	ion-content{
		background-color: #f2f2f2 !important;
		top: 3vh !important;
		.scroll-content {
		    padding-top: 10vh !important;
		}
		ion-list{
			margin-bottom: 50px !important;
			display: block;
			ion-item.boxshadow{
				.item-inner{
					border-bottom: none !important;
					padding-right: 0px !important;
				}
				p{
					width: 90%;
					margin: 20px auto 10px auto;
					display: block;
					font-size: 4vw;
					white-space: initial;
					font-weight: normal;
					span{
						font-style: italic;
					}
				}
				.call{
					font-size: 8vw;
					float: right;
					color: #fff !important;
					background: #fccb06;
					padding: 10px 15px;
					border-radius: 30px;
				}					
				img{
					float: left;
					width: 28% !important;
					height: auto;
					margin-right: 15px;
				}
			}
		}
	}

}
