<menu></menu>

<ion-content padding class="bgsmall">

	<ion-list>

		<ion-item class="boxshadow">

			<h2>João da Silva</h2>

			<h3>Engenheiro Elétrico</h3>

			<div class="divider"></div>

			<div class="textos">

				<h4>Serviço:</h4>

				<p>Instalação de Painel FV</p>

				<h4>Mensagem:</h4>

				<p>Olá, gostaria de solicitar um orçamento do serviços XXXXXXX. Poderia retornar o meu contato?</p>

				<h4>Data:</h4>

				<p>12/04/2018</p>

			</div>

		</ion-item>

	</ion-list>

</ion-content>
