page-feedbacks-recebidos {

	ion-content{
		background-color: #f2f2f2 !important;
		top: 3vh !important;
		.scroll-content {
		    padding-top: 10vh !important;
		}
		ion-list{
			margin-bottom: 50px !important;
			display: block;
			ion-item.boxshadow{
				padding: 20px 20px 0px 20px !important;
				.item-inner{
					border-bottom: none !important;
					padding-right: 0px !important;
				}
				h2,h3{
					margin-left: 15px;
				}
				.textos{
					width: 90% !important;
					margin: 20px auto 10px auto;
					display: block;
					p{
						font-size: 4vw !important;
						white-space: initial;
						margin: 10px 0px 20px 0px !important;
						font-weight: normal;
						span{
							font-style: italic !important;
						}
					}
				}
			}
		}
	}

}
