// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  font-family: "Montserrat", sans-serif !important;
}

/**** BOTÕES ****/

.btnbranco {
  box-shadow: none;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  text-transform: lowercase;
  border-radius: 5px;
}
.btnbranco.activated {
  background: #fff !important;
  color: #fccb06 !important;
  box-shadow: none;
}

.btnamareloum {
  box-shadow: none;
  background: transparent;
  border: 2px solid #fccb06;
  color: #fccb06;
  text-transform: lowercase;
  border-radius: 5px;
  padding: 0 2.1em;
  display: block;
  margin: 20px auto;
}
.btnamareloum.activated {
  background: #fccb06 !important;
  color: #fff !important;
  box-shadow: none;
}

.btnamarelodois {
  box-shadow: none;
  background: #fccb06;
  border: 2px solid #fccb06;
  color: #fff;
  text-transform: lowercase;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  padding: 15px 20px !important;
  span{
    font-size: 4vw !important;
  }
}
.btnamarelodois.activated {
  background: #ffbb00 !important;
  color: #fff !important;
  box-shadow: none;
}

.btntexto {
  margin: 10px auto !important;
  display: block !important;
  background: none !important;
  color: #52525f !important;
  text-transform: none !important;
  box-shadow: none !important;
}

/****** VARIÁVEIS ******/

.clear{
  clear: both !important; 
}

.toolbar-background-md {
  background: #ffde00; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #ffde00 0%,
    #ffba00 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #ffde00 0%,
    #ffba00 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffde00 0%,
    #ffba00 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde00', endColorstr='#ffba00',GradientType=0 ); /* IE6-9 */
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default,
.toolbar-title-md {
  color: #fff;
}

/****** MENU ******/

ion-navbar.toolbar.statusbar-padding {
padding-top: 30px;
padding-bottom: 10px;
}
/*.toolbar-title {
margin-top: 20px;
}*/

.menu-inner{
  ion-header{
    ion-title{
      text-align: center;
    }
  }
  ion-list{
    margin-top: 30px;
  }
  ion-item{
    .item-inner{
      border-bottom: none !important;
      margin-bottom: 5px;
      ion-label{
        color: #52525f;
        font-size: 4.5vw;
        ion-icon{
          margin-right: 10px;
          width: 20px;
        }
      }
    }
  }
}

.logomenu{
  width: 70%;
  margin: 10px 0px;
  path,circle{
    fill: #fff;
  }
}

.logohome{
  width: 40%;
  margin: 0px 0px;
  path,circle{
    fill: #fff;
  }
}

/****** PÁGINAS *******/

.ion-page{
  ion-content{

    ion-list{
      margin-bottom: 50px;
      display: block;
      ion-item.boxshadow{
          display: block;
          border-radius: 5px;
          padding: 5px 20px 20px 20px;
          font-size: 5vw;
          -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
          -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
          box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
          margin-bottom: 20px;
          ion-label{
            color: #52525f;
            font-size: 5vw;
            font-weight: bold;
            margin-bottom: 15px;
            white-space: normal;
            width: 85%;
            span{
              font-size: 3vw;
            }
          }
          h2{
            font-weight: bold;
            font-size: 5vw;
          }
          h3{
            font-size: 3.5vw;
            font-style: italic;
          }
          .divider{
            height: 1px;
            width: 95%;
            margin: 20px auto;
            display: block;
            background: #52525f;
            opacity: 0.2;
          }
          ion-icon.tipocolaborador{
            color: #fccb06 !important;
            margin-top: 15px;
            text-align: center;
            span{
              font: 700 14px Montserrat !important;
              margin-left: 10px;
            }
          }
      }
    }
    
    h1.titlebox{
      display: block;
      background-size: 30%;
      border-radius: 10px;
      padding: 15px 20px 15px 25vw;
      font-size: 4vw;
      -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      margin: 10px auto 50px auto;
      color: #52525f;
    }
  
  }

  ion-content.bgsmall{
    background: url(../assets/imgs/bg-topo-internas.png) no-repeat center top;
    background-size: contain;
    .scroll-content {
        padding-top: 2vh;
    }
  }

  ion-content.bgbig{
    background: url(../assets/imgs/bg-topo-perfil.png) no-repeat center top;
    background-color: #f1f0e4 !important;
    background-size: contain;
    .scroll-content {
        padding-top: 2vh;
    }
  }

}