<ion-menu [content]="content" type="overlay">

<ion-header>
		
	<ion-toolbar>

		<!-- <ion-title>ColaboraSol</ion-title> -->

            <ion-title><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 714.68 177.8" class="logomenu"><path class="a" d="M296.08,335.15a39,39,0,0,1-15,2.71c-18.94,0-30.4-14.16-30.4-36.85s11.45-37,30.4-37a37.22,37.22,0,0,1,14.78,2.6l4.37,1.56a.81.81,0,0,1,.52,1.14l-1.46,4.27a.87.87,0,0,1-1.25.63l-4.37-1.67a32.39,32.39,0,0,0-12.6-2c-14.78,0-23.32,11.24-23.32,30.4s8.53,30.4,23.32,30.4a33.28,33.28,0,0,0,12.8-2.29l4.27-1.46a.81.81,0,0,1,1.14.52l1.56,4.27a.81.81,0,0,1-.52,1.14Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M354.68,311.84c0,16-8.64,26-22.69,26s-22.69-10-22.69-26,8.64-25.92,22.69-25.92S354.68,295.91,354.68,311.84Zm-38.62,0c0,12.39,5.93,19.78,15.93,19.78s16-7.39,16-19.78-6-19.67-16-19.67S316.06,299.55,316.06,311.84Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M373.31,327.87c0,2.29.94,3.75,2.71,3.75a2.85,2.85,0,0,0,.94-.11.81.81,0,0,1,1.14.52l1.77,4.06a.92.92,0,0,1-.52,1.25,11.68,11.68,0,0,1-3.33.52c-5.93,0-9.47-3.64-9.47-10V264.16a.83.83,0,0,1,.94-.94h4.9a.83.83,0,0,1,.93.94Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M396.63,287.48a37.76,37.76,0,0,1,11.13-1.56c12.7,0,20.61,7.6,20.61,20.19v29.77a.83.83,0,0,1-.94.94h-3.23a1,1,0,0,1-1-.94l-.31-4.68c-.31-1.35-1-1.25-2.08-.11-3.54,4.48-8.85,6.77-16.55,6.77-10.51,0-16.65-5.73-16.65-15,0-9.05,6.35-15.2,18.32-15.3h15.72v-1.36c0-8.85-5-13.95-13.95-13.95a31.62,31.62,0,0,0-9.47,1.25l-3.65,1a.87.87,0,0,1-1.25-.63l-1.14-4.06a.87.87,0,0,1,.62-1.25Zm9.26,25.92c-7.91,0-11.55,3.64-11.55,9.06,0,5.83,3.75,9.26,10.41,9.26,10.72,0,16.86-6.14,16.86-17V313.4Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M448.89,283.31a52.68,52.68,0,0,1-.83,10.52c-.31,1.14.52,1.56,1.25.52a18.16,18.16,0,0,1,15.82-8.43c13.32,0,21.24,9.89,21.24,25.92s-8.54,26-22.69,26a32.68,32.68,0,0,1-13.32-2.71l-7.5-3.23a1,1,0,0,1-.73-1V264.16a.83.83,0,0,1,.94-.94H448a.83.83,0,0,1,.94.94Zm4.16,46.11a26.9,26.9,0,0,0,10.62,2.19c10,0,15.92-7.39,15.92-19.78S474,292.16,464.5,292.16c-10.51,0-15.72,9.06-15.72,20.82v14.26Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M540.59,311.84c0,16-8.64,26-22.69,26s-22.69-10-22.69-26,8.64-25.92,22.69-25.92S540.59,295.91,540.59,311.84Zm-38.62,0c0,12.39,5.93,19.78,15.93,19.78s16-7.39,16-19.78-6-19.67-16-19.67S502,299.55,502,311.84Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M577.65,291.22a.83.83,0,0,1-.94.94c-11.14.52-17.49,9.89-17.49,27.48v16.24a.83.83,0,0,1-.94.94H553.4a.83.83,0,0,1-.94-.94v-48a.83.83,0,0,1,.94-.94h3.23a1,1,0,0,1,1,.94l.73,7.81c.21.83.83,1,1.35.21,4-6.25,9.06-9.68,17-10a.83.83,0,0,1,.94.94Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M592.54,287.48a37.76,37.76,0,0,1,11.14-1.56c12.7,0,20.61,7.6,20.61,20.19v29.77a.83.83,0,0,1-.94.94h-3.23a1,1,0,0,1-1-.94l-.31-4.68c-.31-1.35-1-1.25-2.08-.11-3.54,4.48-8.85,6.77-16.55,6.77-10.51,0-16.66-5.73-16.66-15,0-9.05,6.35-15.2,18.32-15.3h15.72v-1.36c0-8.85-5-13.95-13.95-13.95a31.64,31.64,0,0,0-9.47,1.25l-3.64,1a.87.87,0,0,1-1.25-.63l-1.14-4.06a.87.87,0,0,1,.63-1.25Zm9.27,25.92c-7.91,0-11.55,3.64-11.55,9.06,0,5.83,3.74,9.26,10.41,9.26,10.72,0,16.86-6.14,16.86-17V313.4Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M655.1,305.07c-14.26-5.31-19.46-10.51-19.46-21.86,0-13.64,10.3-21.34,26.75-21.34A52.65,52.65,0,0,1,679,264.58l6.87,2.29a1.21,1.21,0,0,1,.94,1.67l-4.27,11.66c-.31.83-.83,1.14-1.66.83l-6.14-1.87A42.46,42.46,0,0,0,662.38,277c-5.83,0-9.78,2.5-9.78,6.25s3.23,5.31,9.16,7.5l8.75,3.23c14.47,5.41,19.67,10.83,19.67,22.17,0,14.26-9.68,21.86-27.38,21.86a60.5,60.5,0,0,1-20.51-3.43l-6.87-2.19a1.2,1.2,0,0,1-.94-1.66l4.16-11.55c.31-.83.83-1.15,1.67-.83l7.29,2.19a50,50,0,0,0,15.2,2.5c5.62,0,10.41-1.35,10.41-6.87,0-3.12-3.64-5.52-9.37-7.7Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M747.22,311.21c0,16.45-9.68,26.75-25.29,26.75s-25.4-10.3-25.4-26.75c0-16.24,9.68-26.65,25.4-26.65S747.22,295,747.22,311.21Zm-34.56,0c0,7.6,3.54,12.18,9.27,12.18s9.16-4.58,9.16-12.18-3.54-12-9.16-12S712.66,303.71,712.66,311.21Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M771.68,321.41c0,1.14.42,2,1.35,2h.63a1.34,1.34,0,0,1,1.77.73l4.27,10.83a1.23,1.23,0,0,1-.62,1.77,15.73,15.73,0,0,1-6,1.25c-11.14,0-17.9-6.14-17.9-16.55v-59a1.26,1.26,0,0,1,1.35-1.35h13.84a1.26,1.26,0,0,1,1.35,1.35Z" transform="translate(-65.16 -210.6)"/><path class="a" d="M182.8,328.24" transform="translate(-65.16 -210.6)"/><path class="a" d="M154.07,388.4A88.93,88.93,0,1,1,217,236.61a8.53,8.53,0,0,1,0,12.07l-28.13,28.12a8.53,8.53,0,0,1-12.07,0,32.11,32.11,0,0,0-45.41,45.41,8.53,8.53,0,1,1-12.07,12.07,49.18,49.18,0,0,1,63-75.06L198.5,243a71.88,71.88,0,1,0,0,113l-21.73-21.73a8.53,8.53,0,0,1,12.07-12.07L217,350.33a8.53,8.53,0,0,1,0,12.07A88.69,88.69,0,0,1,154.07,388.4Z" transform="translate(-65.16 -210.6)"/><circle class="a" cx="88.44" cy="117.64" r="14.22"/></svg></ion-title>

	</ion-toolbar>

</ion-header>

<ion-content>

	<ion-list>
    
      <ion-item menuClose detail-none (click)="openHome()"><ion-icon name="home"></ion-icon> Home</ion-item>

      <!-- <ion-item menuClose detail-none (click)="openOrcamentosSolicitados()"><ion-icon name="flag"></ion-icon> Orçamentos Solicitados</ion-item> -->

      <!-- <ion-item menuClose detail-none (click)="openTermos()"><ion-icon name="paper"></ion-icon> Termos e Condições</ion-item> -->

      <ion-item menuClose detail-none (click)="openPolitica()"><ion-icon name="md-lock"></ion-icon> Política de Privacidade</ion-item>

      <ion-item menuClose detail-none (click)="openFaq()"><ion-icon name="help-circle"></ion-icon> FAQ</ion-item>

      <!-- <ion-item menuClose detail-none (click)="openFaleconosco()"><ion-icon name="chatbubbles"></ion-icon> Fale Conosco</ion-item> -->

      <ion-item menuClose detail-none (click)="openMeuperfil()"><ion-icon name="person"></ion-icon> Meu Perfil</ion-item>

      <ion-item menuClose detail-none (click)="doSignout()"><ion-icon name="exit"></ion-icon> Sair</ion-item>

      <!-- <div class="divider"></div>

      <ion-item menuClose detail-none (click)="openHomeColaborador()"><ion-icon name="home"></ion-icon> Home Colaborador</ion-item>

      <ion-item menuClose detail-none (click)="openOrcamentosRecebidos()"><ion-icon name="ios-folder-open"></ion-icon> Orçamentos Recebidos</ion-item>

      <ion-item menuClose detail-none (click)="openFeedbacksRecebidos()"><ion-icon name="md-star-outline"></ion-icon> Feedbacks Recebidos</ion-item> -->

    </ion-list>

</ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
