page-meu-perfil {

	ion-content{
		top: 3vh !important;
		.scroll-content {
		    padding-top: 10vh !important;
		}
		h1{
			background: #fff url(../assets/imgs/icon-meuperfil.png) no-repeat left center;
			background-size: 30% !important;
		}
		ion-list{
			margin-bottom: 50px !important;
			display: block;
		}
	}

	.text-danger{
		padding-left: 16px;
		p{
		    color: #F44336;
			margin: 10px 0px 0px 0px;
		}
	}

}
