page-orcamentos-recebidos {

	ion-content{
		background-color: #f2f2f2 !important;
		top: 3vh !important;
		.scroll-content {
		    padding-top: 10vh !important;
		}
		ion-list{
			margin-bottom: 50px !important;
			display: block;
			ion-item.boxshadow{
				padding: 20px 20px 0px 20px !important;
				.item-inner{
					border-bottom: none !important;
					padding-right: 0px !important;
				}
				h2,h3{
					margin-left: 30px;
				}
				.textos{
					width: 90%;
					margin: 20px auto 10px auto;
					display: block;
					p{
						font-size: 4vw;
						white-space: initial;
						margin: 10px 0px 20px 0px;
						font-weight: normal;
						span{
							font-style: italic;
						}
					}
				}
				ion-icon{
					color: #fccb06 !important;
					margin-top: 15px;
					margin-left: 30px;
					span{
						font: 700 14px Montserrat !important;
						margin-left: 10px;
					}
				}
				.call{
					font-size: 8vw;
					float: right;
					color: #fff !important;
					background: #fccb06;
					padding: 10px 15px;
					border-radius: 30px;
				}					
			}
		}
	}

}
