page-home-colaborador {

	ion-content{
		top: 3vh !important;
		background-color: #f2f2f2 !important;
		.scroll-content {
		    padding-top: 10vh !important;
		}
		ion-item{
			.item-inner{
				border: none !important;
			}
			h4{
				color: #52525f !important;
				font-size: 5vw !important;
				font-weight: bold !important; 
				margin-bottom: 15px !important;
				span{
					display: block;
					font-size: 3vw;
				}
			}
			p{
				width: 80%;
				margin: 20px 0px 0px 0px !important;
				display: block;
				font-size: 4vw;
				white-space: initial;
				font-weight: normal;
				float: left;
				span{
					font-style: italic;
				}
			}
			.arrowgo{
				font-size: 10vw;
				float: right;
				color: #fccb06;
			}
		}
		ion-item.boxperfil{			
		    padding: 100px 15px 10px 15px !important;
				h2{
					font-weight: bold;
					font-size: 7vw;
					text-align: center;
				}
				h3{
					font-size: 3.5vw;
					font-style: italic;
					text-align: center;
				}
				.tipocolaborador{
					text-align: center;
					display: block;
				}
		}
		ion-item.orcamento{
			background: #fff url(../assets/imgs/icon-orcamentos.png) no-repeat 94% 10%;
		    background-size: 15%;
		    padding: 15px 20px 20px 20px !important;
		}
		ion-item.feedback{
			background: #fff url(../assets/imgs/icon-feedbacks.png) no-repeat 94% 10%;
		    background-size: 15%;
		    padding: 15px 20px 20px 20px !important;
		}
		ion-avatar{
			width: 50% !important;
			height: auto !important;
			margin: 0px auto -85px auto !important;
			display: block;
			position: relative;
			z-index: 100;
			img{
				width: 100%;
				height: auto;
			}
		}
	}

}
