<menu></menu>

<ion-content padding class="bgbig">

	<ion-list>

		<ion-avatar item-start>
			<img src="assets/imgs/profile.png">
		</ion-avatar>

		<ion-item class="boxshadow boxperfil">

	        <h2>João da Silva</h2>
	        
	        <h3>Engenheiro Elétrico</h3>

	        <ion-icon name="person" class="tipocolaborador"><span>MEI</span></ion-icon>

	    </ion-item>

	    <ion-item class="boxshadow orcamento">
      
	        <h4>Último orçamento solicitado</h4>

	        <p>Manutenção de instalações elétricas, instalação de painéis solares e consultoria</p>

	        <p><span>Igor Silva - 12/04/2018</span></p>

	        <ion-icon name="ios-arrow-forward" class="arrowgo" [navPush]="pushOrcamentosRecebidos"></ion-icon>
	      
	    </ion-item>

	    <ion-item class="boxshadow feedback">
      
	        <h4>Último feedback recebido</h4>

	        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida venenatis accumsan. In mi massa, tempus”</p>

	        <p><span>Igor Silva - 12/04/2018</span></p>

	        <ion-icon name="ios-arrow-forward" class="arrowgo" [navPush]="pushFeedbacksRecebidos"></ion-icon>
	      
	    </ion-item>

	</ion-list>

</ion-content>
