page-resultado-busca-perfil {

	ion-content{
		top: 3vh !important;
		.scroll-content {
		    padding-top: 10vh !important;
		}
		ion-item.boxshadow{
		    padding: 100px 15px 10px 15px !important;
		    text-align: center !important;
				.item-inner{
					padding-right: 0px !important;
					border-bottom: none !important;
				}
				button{
					width: 60%;
					font-size: 8vw !important;
					padding: 20px 40px !important;
					span{
						font-size: 4vw !important;
					}
				}
				.listaperfil{
					display: block;
					width: 100%;
					clear: both;
					margin: 30px 0px;
					text-align: left;
					h4{
						font-weight: bold;
						font-size: 4.5vw;
						margin: 2vh 0 1vh 0;
					}
					p{
						font-style: italic;
						font-size: 3vw;
						white-space: initial;
						padding-left: 18.5vw;
					}
					img{
						float: left;
						margin: 0px 10px;
						width: 50px;
						height: auto;
						vertical-align: top;
					}
				}
		}
		ion-avatar{
			width: 50% !important;
			height: auto !important;
			margin: 0px auto -85px auto !important;
			display: block;
			position: relative;
			z-index: 100;
			img{
				width: 100%;
				height: auto;
			}
		}
	}

}
