<menu></menu>

<ion-content padding class="bgbig">

  <ion-avatar item-start>
    <img src="assets/imgs/profile.png">
  </ion-avatar>

  <ion-list>

    <ion-item class="boxshadow">

      <h2>{{ supplier.uname }}</h2>

      <h3>{{ supplier.supplierField }}</h3>

      <ion-icon name="person" class="tipocolaborador"><span>{{ supplier.companyType }}</span></ion-icon>

      <button ion-button color="accent" class="btnamareloum" block (click)="callSupplier(supplier.uphone)">entrar em
        contato</button>

      <div class="divider"></div>

      <div class="listaperfil">

        <img src="assets/imgs/icon-servicooferecido.png">

        <h4>Serviços oferecidos</h4>
        <p>
          <span *ngFor="let item of supplier.jobsOffered; last as isLast; first as isFirst">
            <span *ngIf="isLast != true">{{ item.name }}, </span><span *ngIf="isLast === true">{{ item.name }}.</span>
          </span>
        </p>

      </div>

      <div class="listaperfil">

        <img src="assets/imgs/icon-cursos.png">

        <h4>Cursos realizados</h4>
        <p>
          <span *ngFor="let item of supplier.qualifications; last as isLast; first as isFirst">
            <span *ngIf="isLast != true">{{ item.name }}, </span><span *ngIf="isLast === true">{{ item.name }}.</span>
          </span>
        </p>

      </div>

      <div class="listaperfil">

        <img src="assets/imgs/icon-experiencia.png">

        <h4>Nível de Experiência</h4>

        <p>{{ supplier.xp }} <span *ngIf="supplier.xp != 1; else oneYear">anos</span>
          <ng-template #oneYear>ano</ng-template> no mercado
        </p>

      </div>

    </ion-item>

  </ion-list>

</ion-content>
