page-faq {

	ion-content{
        top: 3vh !important;
        .scroll-content {
            padding: 7vh 0 !important;
        }
    }
    .accordion-list {
        background: #fff;
        height: 100%;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .faq{
        margin: 0px !important;
        padding: 0px !important;
        .pergunta{
            padding: 0px !important;
            h3{
                background: #b0b0b0;
                border-bottom: 2px solid #fff;
                color: #fff;
                display: block;
                margin: 0px !important;
                padding: 10px 20px;
                font-size: 4.5vw;
                font-weight: bold;
                line-height: 30px;
            }
            h3.active{
                background: #fbca06;
                border-bottom: 2px solid #fff;
            }
            p.active{
                display: block;
            }
            p{
                padding: 20px;
                margin: 0px;
                text-transform: none !important;
                line-height: 20px;
                opacity: 0.8;
                display: none;
            }
        }
    } 
    .child {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: #fff;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }

}
