<menu></menu>

<ion-content>

    <div class="faq" no-lines no-padding>

      <div class="pergunta" *ngFor="let data of allData;let i=index">

        <h3 (click)="selectedItem=i" [class.active]="selectedItem == i" >{{ data.question }}</h3>

        <p [class.active]="selectedItem == i" >{{ data.answer }}</p>


      </div>

    </div>
  
</ion-content>
